@page "/"
@using BlazorBattControl.Data
@using BlazorBattControl.Models
@using Microsoft.EntityFrameworkCore

@inject BlazorBattControlContext DbFactory

@rendermode InteractiveServer

<style>
    .test {
        width: 30%;
        height: 20px;
        background-color: white;
    }

    .tool_tip_radio_button{
        width: 30%;
        height: 20px;
    }

    .radio_base[type='radio']{
        box-sizing: border-box;
        appearance: none;
        background: white;
        outline: 2px solid #333;
        border: 3px solid white;
        width: 45px;
        height: 16px;
        vertical-align: center;
        horisontal-align: center;
    }

    .radio_1[type='radio']:checked {
        background: Green;
    }

    .radio_2[type='radio']:checked {
        .radio_1;
        background: Blue;
    }
</style>

<div>
    <select class="form-control" @bind="@schedule_Id">
        @foreach (var schedule in DbFactory.Schedule)
        {
            <option selected value="@schedule.Id"> @schedule.Name </option>
        }
    </select>

    <button class="btn btn-primary" @onclick="UpdateProduce">Send</button>
    <button class="btn btn-primary" @onclick="UpdateProduce">Send</button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Period</th>
            <th>Charge </th>
            <th>Backup </th>
            <th>SelfUse</th>
            <th>Feed-In</th>
            <th>Dis-Chg</th>
        </tr>
    </thead>
    <tbody>
        @for (int row = 0; row < 48; row++)
        {
            int local_row = row;

            TimeOnly s_time = new TimeOnly(row / 2, (row % 2) * 30);
            <tr>
                <td>
                    <label>@s_time</label>
                </td>
                @for (int x = 0; x < 5; x++)
                {
                    int _x = x;
                    <td>
                        <label class="tool_tip_radio_button" data-toggle="tooltip" data-placement="bottom" title="@buttionNames[x]">
                            <input type="radio" class="radio_base radio_1"
                                   checked="@(Modes[local_row].BattMode == _x)"
                                   name=@row onchange="@(() => OnCheckChange(local_row, _x))" />
                        </label>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
                  
@code
{
    private int m_scheduleId;

    public int schedule_Id
    {
        get { return m_scheduleId; }
        set 
        { 
            m_scheduleId = value;
            SelectionUpdated();          
        }
    }

    private string[] buttionNames = { "Charge ", "Backup ", "SelfUse", "Feed_In", "Dis_Chg" };

    private BatteryMode[] Modes = new BatteryMode[48];

    private async Task OnCheckChange(int row, int x)
    {
        if (Modes[row].BattMode != x)
        {
            var mode = DbFactory.Mode.FirstOrDefault(m => m.TimeSlot == row && m.SchedualId == m_scheduleId);
            if (mode == null)
            {
                DbFactory.Mode.Add(Modes[row]);
            }
            Modes[row].BattMode = x;
            
            try
            {
                await DbFactory.SaveChangesAsync();
            }
            catch (DbUpdateConcurrencyException)
            {
            }
        }
    }

    private void UpdateProduce()
    {
    }

    private void SelectionUpdated()
    {
        for (int x = 0; x < 48; x++)
        {
            var mode = DbFactory.Mode.FirstOrDefault(m => m.TimeSlot == x && m.SchedualId == m_scheduleId);
            if (mode == null)
            {
                mode = new BatteryMode()
                {
                    SchedualId = m_scheduleId,
                    BattMode = 2,
                    TimeSlot = x
                };
            }
            Modes[x] = mode;
        }

        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        var firstSchedule = DbFactory.Schedule.FirstOrDefault();

        if (firstSchedule != null)
        {
            schedule_Id = firstSchedule.Id;
        }

        SelectionUpdated();
    }
}
