@page "/"
@using BlazorBattControl.Data
@using BlazorBattControl.Models
@using Microsoft.EntityFrameworkCore

@inject BlazorBattControlContext DbFactory

@rendermode InteractiveServer

<style>
    .test {
        width: 30%;
        height: 20px;
        background-color: white;
    }

    .tool_tip_radio_button{
        width: 30%;
        height: 20px;
    }

    .radio_base[type='radio']{
        box-sizing: border-box;
        appearance: none;
        background: white;
        outline: 2px solid #333;
        border: 3px solid white;
        width: 45px;
        height: 16px;
        vertical-align: center;
        horisontal-align: center;
    }

    .radio_1[type='radio']:checked {
        background: Green;
    }

    .radio_2[type='radio']:checked {
        .radio_1;
        background: Blue;
    }
</style>

<div>
    <select class="form-control" value="@selected" @onchange="SetSelected">
        @foreach (var schedule in DbFactory.Schedule.OrderByDescending(m => m.Id))
        {
            <option selected value="@schedule.Id">@schedule.Name</option>
        }
    </select>
    <button class="btn btn-primary" @onclick="UpdateProduce">Send</button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Period</th>
            <th>Charge </th>
            <th>Backup </th>
            <th>SelfUse</th>
            <th>Feed-In</th>
            <th>Dis-Chg</th>
        </tr>
    </thead>
    <tbody>
        @for (int row = 0; row < 48; row++)
        {
            TimeOnly s_time = new TimeOnly(row / 2, (row % 2) * 30);
            <tr>
                <td>
                    <label>@s_time</label>
                </td>
                @for (int x = 0; x < 5; x++)
                {
                    int local_row = row;
                    int _x = x;

                    <td>
                        <label class="tool_tip_radio_button" data-toggle="tooltip" data-placement="bottom" title="@buttionNames[x]">
                            <input type="radio" class="radio_base radio_1"
                                   checked="@buttonStates[_x, local_row]"
                                   name=@row onchange="@(() => OnCheckChange(local_row, _x))" />
                        </label>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
                  
@code
{
    private int selected { get; set; }

    private string[] buttionNames = { "Charge ", "Backup ", "SelfUse", "Feed_In", "Dis_Chg" };

    private bool[,] buttonStates = new bool[5, 48];

    private async Task OnCheckChange(int row, int x)
    {
        buttonStates[x, row] = true;

        var mode = DbFactory.Mode.FirstOrDefault(m => m.TimeSlot == row && m.SchedualId == schedule.Id);
        if (mode == null)
        {
            mode = new BatteryMode()
            {
                TimeSlot = row,
                SchedualId = schedule.Id,
                BattMode = x
            };
            DbFactory.Mode.Add(mode);
        }
        else
            mode.BattMode = x;

        try
        {
            await DbFactory.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
        }
    }

    private void UpdateProduce()
    {
    }

    void SetSelected(ChangeEventArgs e)
    {
        if (e.Value != null)
            selected = Convert.ToInt32(e.Value.ToString());

        schedule = DbFactory.Schedule.FirstOrDefault(schedule => schedule.Id == selected);
        SelectionUpdated();
    }

    private void SelectionUpdated()
    {
        buttonStates = new bool[5, 48];
        if (schedule != null)   
        {
            for (int row = 0; row < 48; row++)
                buttonStates[2, row] = true;

            for (int row = 0; row < 48; row++)
            {
                var mode = DbFactory.Mode.FirstOrDefault(m => m.TimeSlot == row && m.SchedualId == schedule.Id);
                if (mode != null && mode.BattMode != 2)
                {
                    buttonStates[2, row] = false;
                    buttonStates[mode.BattMode, row] = true;           
                }
            }    
        }
        StateHasChanged();
    }

    private Schedule? schedule;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        schedule = DbFactory.Schedule.OrderBy(m => m.Id).FirstOrDefault();
        selected = schedule.Id;

        SelectionUpdated();
    }
}
