@page "/"
@using BlazorBattControl.Data
@using BlazorBattControl.FoxEss.FoxApiClient
@using BlazorBattControl.Models
@using Microsoft.EntityFrameworkCore
@implements IAsyncDisposable
@inject NavigationManager NavManager
@inject IDbContextFactory<BlazorBattControlContext> DbFactory
@inject FoxEssMain m_foxEssMain

@rendermode InteractiveServer

<style>
    .tool_tip_radio_button{
        width: 30%;
        height: 20px;
    }

    .radio_base[type='radio']{
        box-sizing: border-box;
        appearance: none;
        background: white;
        outline: 2px solid #333;
        border: 1px solid white;
        width: 40px;
        height: 12px;
        vertical-align: center;
        horisontal-align: center;
    }

    .radio_1[type='radio']:checked {
        background: Green;
    }

    .h-text{
        font-size: 10px;
        text-align: center;
    }

    .h-row {
        font-size: 8px;
    }

    .b-margin{
        margin: 4px 0px;
    }

    .t-centre{
        text-align: center;
    }
</style>

<div>
    <select class="form-control"  style="width: 280px" value="@selected" @onchange="SetSelected">
        @foreach (var schedule in context.Schedule.OrderByDescending(m => m.Id))
        {
            <option selected value="@schedule.Id">@schedule.Name</option>
        }
    </select>
    <button class="btn btn-primary b-margin" padding=20 @onclick="UpdateProduce">Send</button>
</div>

<table>
    <thead>
        <tr>
            <th class="h-text" width="70">Period</th>
            <th class="h-text">Charge</th>
            <th class="h-text">Backup</th>
            <th class="h-text">SelfUse</th>
            <th class="h-text">Feed-In</th>
            <th class="h-text">Dis-Chg</th>
        </tr>
    </thead>
    <tbody>
        @for (int row = 0; row < 48; row++)
        {
            TimeOnly s_time = new TimeOnly(row / 2, (row % 2) * 30);
            TimeOnly e_time = new TimeOnly(row / 2, (row % 2) * 30);
            e_time = e_time.AddMinutes(29);
            <tr>
                <td class="t-centre">
                    <label class="h-text">@s_time - @e_time</label>
                </td>
                @for (int x = 0; x < 5; x++)
                {
                    int local_row = row;
                    int _x = x;

                    <td>
                        <label class="tool_tip_radio_button" data-toggle="tooltip" data-placement="bottom" title="@buttionNames[x]">
                            <input type="radio" class="radio_base radio_1"
                                   checked="@buttonStates[_x, local_row]"
                                   name=@row onchange="@(() => OnCheckChange(local_row, _x))" />
                        </label>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
                  
@code
{
    private int selected { get; set; }

    private string[] buttionNames = { "Charge ", "Backup ", "SelfUse", "Feed_In", "Dis_Chg" };

    private bool[,] buttonStates = new bool[5, 48];

    private async Task OnCheckChange(int row, int x)
    {
        buttonStates[x, row] = true;

        var mode = context.Mode.FirstOrDefault(m => m.TimeSlot == row && m.SchedualId == selectedSchedule.Id);
        if (mode == null)
        {
            mode = new BatteryMode()
            {
                TimeSlot = row,
                SchedualId = selectedSchedule.Id,
                BattMode = x
            };
            context.Mode.Add(mode);
        }
        else
            mode.BattMode = x;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
        }
    }

    private async Task UpdateProduce()
    {
        await m_foxEssMain.SendSelectedSchedule();
    }

    void SetSelected(ChangeEventArgs e)
    {
        if (e.Value != null)
            selected = Convert.ToInt32(e.Value.ToString());

        selectedSchedule = context.Schedule.FirstOrDefault(schedule => schedule.Id == selected);

        var appSettings = context.AppDbSettings.FirstOrDefault();
        if (appSettings != null)
        {
            appSettings.SeletedScheduleId = selectedSchedule.Id;
            context.Update(appSettings);
            context.SaveChanges();
        }

        SelectionUpdated();
    }

    private void SelectionUpdated()
    {
        using var context = DbFactory.CreateDbContext();
        buttonStates = new bool[5, 48];
        if (selectedSchedule != null)
        {
            for (int row = 0; row < 48; row++)
                buttonStates[2, row] = true;

            for (int row = 0; row < 48; row++)
            {
                var mode = context.Mode.FirstOrDefault(m => m.TimeSlot == row && m.SchedualId == selectedSchedule.Id);
                if (mode != null && mode.BattMode != 2)
                {
                    buttonStates[2, row] = false;
                    buttonStates[mode.BattMode, row] = true;           
                }
            }    
        }
        StateHasChanged();
    }

    private BlazorBattControlContext context = default!;

    private Schedule selectedSchedule = default!;

    private List<Schedule> schedules = new List<Schedule>();

    protected override void OnAfterRender(bool firstRender)
    {
        using var context = DbFactory.CreateDbContext();
        schedules = context.Schedule.OrderByDescending(m => m.Id).ToList();

        var settings = context.AppDbSettings.FirstOrDefault();

        if (settings == null)
            selectedSchedule = context.Schedule.FirstOrDefault();
        else
            selectedSchedule = context.Schedule.FirstOrDefault(s => s.Id == settings.SeletedScheduleId);

        if (selectedSchedule != null)
        {
            var appSettings = context.AppDbSettings.FirstOrDefault();
            if (appSettings == null)
            {
                appSettings = new AppDbSettings()
                {
                    SeletedScheduleId = selectedSchedule.Id
                };
                context.AppDbSettings.Add(appSettings);
                context.Update(appSettings);

                context.SaveChanges();
            }

            selected = selectedSchedule.Id;
            SelectionUpdated();      
        }
        else
        {
            NavManager.NavigateTo("/schedules/create");
        }
    }

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
