@page "/"
@using BlazorBattControl.Data
@using BlazorBattControl.FoxEss.FoxApiClient
@using BlazorBattControl.Models
@using Microsoft.EntityFrameworkCore
@using NetDaemonMain.apps.FoxEss.FoxApiClient.Models
@using System.ComponentModel

@inject NavigationManager NavManager
@inject FoxEssMain m_foxEssMain
@inject FoxSettings m_foxSettings

@implements IDisposable 

@rendermode InteractiveServer

<style>
    .tool_tip_radio_button{
        width: 30%;
        height: 20px;
    }

    .radio_base[type='radio']{
        box-sizing: border-box;
        appearance: none;
        background: white;
        outline: 2px solid #333;
        border: 1px solid white;
        width: 40px;
        height: 12px;
        vertical-align: center;
        horisontal-align: center;
    }

    .save-cancel
    {
        margin: 4px 0px;
        width: 80px;
    }

    .b-margin {
        margin: 4px 0px;
    }

    .radio_1[type='radio']:checked {
        background: Green;
    }

    .h-text{
        font-size: 10px;
        text-align: center;
    }

    .h-row {
        font-size: 8px;
    }


    .t-centre{
        text-align: center;
    }
</style>

<div style="max-width: 280px;">
    <select class="form-control"  style="width: 280px" value="@selected" @onchange="SetSelected">
        @foreach (var schedule in m_foxSettings.AllSchedules.OrderBy(m => m.Id))
        {
            if (schedule.Id != selected)
            {
                <option value="@schedule.Id">@schedule.Name</option>
            }
            else
            {
                // Select the selected selected schedule 
                <option value="@schedule.Id" selected>@schedule.Name</option>
            }
        }

    </select>
    <div>
        <button class="btn btn-primary b-margin" padding=20 hidden="@editActive" @onclick="SendSchedule">Send</button>
        <label hidden="@editActive"  style="float: right;">@m_foxSettings.StatusMessage</label>
    </div>

    <button class="btn btn-primary save-cancel" padding=20 hidden="@editShow" @onclick="SaveChanges">Save</button>
    <button class="btn btn-primary save-cancel" padding=20 hidden="@editShow" @onclick="CancelChanges" style="float: right;">Cancel</button>
</div>

<table>
    <thead>
        <tr>
            <th class="h-text" width="70">Period</th>
            <th class="h-text">Charge</th>
            <th class="h-text">Backup</th>
            <th class="h-text">SelfUse</th>
            <th class="h-text">Feed-In</th>
            <th class="h-text">Dis-Chg</th>
        </tr>
    </thead>
    <tbody>
        @for (int row = 0; row < 48; row++)
        {
            TimeOnly s_time = new TimeOnly(row / 2, (row % 2) * 30);
            TimeOnly e_time = new TimeOnly(row / 2, (row % 2) * 30);
            e_time = e_time.AddMinutes(29);
            <tr>
                <td class="t-centre">
                    <label class="h-text">@s_time - @e_time</label>
                </td>
                @for (int x = 0; x < 5; x++)
                {
                    int local_row = row;
                    int _x = x;

                    <td>
                        <label class="tool_tip_radio_button" data-toggle="tooltip" data-placement="bottom" title="@buttionNames[x]">
                            <input type="radio" class="radio_base radio_1"
                                   checked="@buttonStates[_x, local_row]"
                                   name=@row onchange="@(() => OnCheckChange(local_row, _x))" />
                        </label>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
                  
@code
{
    private bool m_editActive;

    private bool editActive
    {
        get => m_editActive;
        set
        {
            m_editActive = value;
            StateHasChanged();
        }
    }

    private bool editShow => !editActive;

    /// <summary>
    /// Hold the selected schedule on the settings object as this is a singleton
    /// </summary>
    private int selected 
    { 
        get
        {
            return m_foxSettings.selectorId;
        }
        set 
        {
            m_foxSettings.selectorId = value;
        }
    }

    private string[] buttionNames = { "Charge ", "Backup ", "SelfUse", "Feed_In", "Dis_Chg" };

    private bool[,] buttonStates = new bool[5, 48];

    private void SaveChanges()
    {

        for (int row = 0; row < 48; row++)
        {
            var x = 2;

            if (buttonStates[0, row])
                x = 0;
            else if (buttonStates[1, row])
                x = 1;
            else if (buttonStates[3, row])
                x = 3;
            else if (buttonStates[4, row])
                x = 4;

            m_foxSettings.SetMode(row, x, selected);
        }

        m_foxSettings.SaveSelector();

        editActive = false;
    }

    private void CancelChanges()
    {
        selected = m_foxSettings.SelectedScheduleId;
        SelectionUpdated();
        editActive = false;
    }

    private void OnCheckChange(int row, int x)
    {
        for (int m = 0; m < 5; m++)
            if (m == x)
                buttonStates[m, row] = true;
            else
                buttonStates[m, row] = false;

        editActive = true;
    }

    private async Task SendSchedule()
    {
        await m_foxEssMain.SendSelectedScheduleAsync();
    }

    private void SetSelected(ChangeEventArgs e)
    {
        if (e.Value != null)
            selected = Convert.ToInt32(e.Value.ToString());

        SelectionUpdated();
    }

    private void SelectionUpdated()
    {
        for (int row = 0; row < 48; row++)
        {
            var mode = m_foxSettings.GetModeValue(row, selected);
            for (int x = 0; x < 5; x++)
                if (mode == x)
                    buttonStates[x, row] = true;
                else
                    buttonStates[x, row] = false;
        }

        editActive = true;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            selected = m_foxSettings.SelectedScheduleId;
            SelectionUpdated();
            editActive = false;
        }
    }

    void MessageChanged(object? sender, PropertyChangedEventArgs eventArgs)
    {
        InvokeAsync(() => StateHasChanged());
    }

    protected override void OnInitialized() 
    { 
        m_foxSettings.PropertyChanged += MessageChanged; 
    }

    public void Dispose()
    {
        m_foxSettings.PropertyChanged -= MessageChanged;            
    }
}
